@model HartonoBankSystem.Models.Account
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewData["Title"] = "Login";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

@using (Html.BeginForm())
{
    <div>
        Login Account
        <input type="text" name="AccountName" class="form-control" />

    </div>
    <div>
        Login Password
        <input type="password" name="Password" class="form-control" />
    </div>
    <div>
        <input type="submit" value="Login" />
    </div>
}

