@model HartonoBankSystem.ViewModels.Deposit
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <div>
        Account Number
        <label>
            @Model.AccountNumber
        </label>
    </div>
    <div>
        Account Balance
        <label>
            @Model.Balance
        </label>
    </div>